body {
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

.board {
    background-color: #30452b;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    width: 600px;
    height: 500px;
    padding: 15px;
    border-radius: 3px;
    margin: auto;
}

.green-cell{
    background-color: #639c56;
}

.white-cell{
    background-color: #dbdbdb;
}

.red-team{
    color: #ac2525
}

.black-team{
    color: #2a2a2a
}

.cell{
    position: relative;
}

.piece{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    cursor: pointer;
}

.highlight{
    background-color: #F6F682;
    outline: 1px solid #639c56;
    cursor: pointer;
}



/* red = #ac2525; */
/* black = #2a2a2a; */